// Here you can add other styles
.c-sidebar {
  color: #000;
  background: #e95f35;
}
ul.nav.nav-tabs {
  margin-bottom: 16px;
}
.nav-link {
  max-height: 36px;
  // margin-bottom: -2px;
  border: none;
  color: #fff;
  &:hover {
    border: 0;
    border-radius: 0;
    color: #fff;
  }
  &.active {
    color: #000 !important;
    background: #d2d2d2 !important;
    border: 0;
    border-radius: 0;
    font-weight: 600;
  }
}
// card
.card {
  // border-radius: 0;
  border-width: 0;
  .card-body {
    padding: 12px 8px;
  }
}
.c-main .card {
  min-height: 500px;
}
.c-footer {
  color: #3c4b64;
  background: #ffffff;
  border-top: 1px solid #d8dbe0;
}